{% load static %}
<!DOCTYPE HTML>

 <html>

    <head>

    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta charset="utf-8">
        <meta name="description" content="guide">

        <title> Guide </title>
		    <link rel="shortcut icon" href="{% static 'images/guide/favicon.ico' %}" type="image/x-icon">
        <link href="{% static "css/guide/style.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "css/guide/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "css/guide/responsive.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "css/guide/fonts.css" %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
        <link href="{% static "css/guide/guide.css" %}" rel="stylesheet" type="text/css">

	</head>



    <body>
    	<!-- header -->
        	<header role="header">
            	<div class="container">
                	<!-- logo -->
                    	<h1>

                        	<a href="homepage.html" title="homepage"><img src="{% static "images/guide/logo.png" %}" title="homepage" alt="homepage"/></a>

                        </h1>
                    <!-- logo -->

                    <!-- nav -->
                    <nav role="header-nav" class="navy">
                        <ul>
                            <li><a href="login.html" title="Work">Chatroom</a></li>

                            <li><a href="homepage.html" title="About">About us</a></li>

                            <li class="nav-active"><a href="index.html" title="guide">Guide</a></li>

                            <li><a href="contact.html" title="Contact">Contact</a></li>
                        </ul>
                    </nav>
                    <!-- nav -->
                </div>
            </header>
        <!-- header -->

        <!-- main -->
        <main role="main-inner-wrapper" class="container" style="margin-bottom: 200px; ">
            <div class="row">

                <!-- Guide -->
                <article role="guide-content">
                  <header>
                    <h2><span>Guide</span></h2>
                  </header>
                </article>
                
                <!-- row 1 -->
                <!--
                <figure role="guide-content"> 

                  <h1 role="guide-content">
                    <a href="https://www.baidu.com/" title="百度" target="_blank">
                      <img src="{% static 'images/guide/baidu.png' %}" title="百度" alt="百度" class="guide-img"/>
                    </a>
                    <p>百度</p>
                  </h1>

                  <h1>
                    <a href="https://i.sjtu.edu.cn/xtgl/login_slogin.html" title="学信网" target="_blank">
                      <img src="{% static 'images/guide/sjtu.png' %}" title="学信网" alt="学信网" class="guide-img"/>
                    </a>
                    <p>学信网</p>
                  </h1>

                  <h1>
                    <a href="https://mail.sjtu.edu.cn/zimbra" title="交大邮箱" target="_blank">
                      <img src="{% static 'images/guide/j-mail.png' %}" title="交大邮箱" alt="交大邮箱" class="guide-img"/>
                    </a>
                    <p>交大邮箱</p>
                  </h1>

                  <h1>
                    <a href="https://jbox.sjtu.edu.cn" title="交大云盘" target="_blank">
                      <img src="{% static 'images/guide/jbox.png' %}" title="交大云盘" alt="交大云盘" class="guide-img"/>
                    </a>
                    <p>交大云盘</p>
                  </h1>

                  <h1>
                    <a href="https://poe.com/Sage" title="sage" target="_blank">
                      <img src="{% static 'images/guide/sage.png' %}" title="sage" alt="sage" class="guide-img"/>
                    </a>
                    <p>sage</p>
                  </h1>

                  <h1>
                    <a href="https://drive.google.com/drive/my-drive" title="google drive" target="_blank">
                      <img src="{% static 'images/guide/google-drive.png' %}" title="google drive" alt="google drive" class="guide-img"/>
                    </a>
                    <p>google drive</p>
                  </h1>

                  <h1 role="guide-content">
                    <a href="https://www.bing.com/" title="CSDN" target="_blank">
                      <img src="{% static 'images/guide/csdn.png' %}" title="CSDN" alt="CSDN" class="guide-img"/>
                    </a>
                    <p>CSDN</p>
                  </h1>

                  <h1>
                    <a href="https://www.bilibili.com/" title="bilibili" target="_blank">
                      <img src="{% static 'images/guide/bilibili.png' %}" title="bilibili" alt="bilibili" class="guide-img"/>
                    </a>
                    <p>bilibili</p>
                  </h1>

                  <h1>
                    <a href="https://v.qq.com/" title="腾讯视频" target="_blank">
                      <img src="{% static 'images/guide/tecent.png' %}" title="腾讯视频" alt="腾讯视频" class="guide-img"/>
                    </a>
                    <p>腾讯视频</p>
                  </h1>

        
                </figure>
                -->
        
                <!-- row 2 -->
                <!--
                <figure role="guide-content"> 
                  
                  <h1>
                    <a href="https://cloud.tencent.com/" title="腾讯云" target="_blank">
                      <img src="{% static 'images/guide/t-cloud.png' %}" title="腾讯云" alt="腾讯云" class="guide-img"/>
                    </a>
                    <p>腾讯云</p>
                  </h1>

                  <h1>
                    <a href="https://www.aliyun.com/" title="阿里云" target="_blank">
                      <img src="{% static 'images/guide/ali-cloud.png' %}" title="阿里云" alt="阿里云" class="guide-img"/>
                    </a>
                    <p>阿里云</p>
                  </h1>

                  <h1>
                    <a href="https://mail.google.com/" title="gmail" target="_blank">
                      <img src="{% static 'images/guide/gmail.png' %}" title="gmail" alt="gmail" class="guide-img"/>
                    </a>
                    <p>gmail</p>
                  </h1>

                  <h1 role="guide-content">
                    <a href="https://fanyi.baidu.com/" title="百度翻译" target="_blank">
                      <img src="{% static 'images/guide/translate.png' %}" title="百度翻译" alt="百度翻译" class="guide-img"/>
                    </a>
                    <p>百度翻译</p>
                  </h1>

                  <h1>
                    <a href="https://pypi.org/" title="pypi" target="_blank">
                      <img src="{% static 'images/guide/pypi.png' %}" title="pypi" alt="pypi" class="guide-img"/>
                    </a>
                    <p>pypi</p>
                  </h1>

                  <h1>
                    <a href="https://baota.heatingma.cn:41342/baota" title="宝塔面板" target="_blank">
                      <img src="{% static 'images/guide/baota.png' %}" title="宝塔面板" alt="宝塔面板" class="guide-img"/>
                    </a>
                    <p>宝塔面板</p>
                  </h1>

                  <h1>
                    <a href="https://www.spsspro.com/" title="SPSS" target="_blank">
                      <img src="{% static 'images/guide/SPSS.png' %}" title="SPSS" alt="SPSS" class="guide-img"/>
                    </a>
                    <p>SPSSPRO</p>
                  </h1>

                  <h1>
                    <a href="https://www.cnmooc.org/home/login.mooc" title="CNMOOC" target="_blank">
                      <img src="{% static 'images/guide/cnmooc.png' %}" title="CNMOOC" alt="CNMOOC" class="guide-img"/>
                    </a>
                    <p>CNMOOC</p>
                  </h1>

                  <h1>
                    <a href="https://oc.sjtu.edu.cn/" title="canvas" target="_blank">
                      <img src="{% static 'images/guide/sjtu.png' %}" title="canvas" alt="canvas" class="guide-img"/>
                    </a>
                    <p>canvas</p>
                  </h1>

               
                </figure>
                -->

                <figure role="guide-content">
                  {% for link in links %}
                  {% if forloop.counter|divisibleby:10 %}
                    </figure>
                    <figure role="guide-content">
                  {% endif %}
                  <h1>
                  <a href= {{link.url}}  target="_blank" title={{link.name}}>
                      <img src={{link.image_url}} class="guide-img" title={{link.name}} alt={{link.name}}>                         
                  </a>
                  <p>{{ link.name }}</p>
                  </h1>
                  {% endfor %}
                

                  <!-- add -->
                  <h1> 
                    <a id="add-website-button"> 
                      <img src="{% static "images/guide/add.png" %}" alt="add" class="guide-img" 
                      style="width: 70px; height: 70px; margin-left: 10px; margin-right: 10px; "/>
                    </a>
                    <p>添加</p>
                  </h1> 

                  <!-- 模态框 -->
                  <div id="add-website-modal" class="modal" role="modal" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <span class="close" id="close-modal" aria-hidden="true">&times;</span>
                          <h4 class="modal-title">添加网站</h4>
                        </div> 
                        <div class="modal-body">                     
                          <form method="post" action="{% url 'index:index' %}" >
                              {% csrf_token %}
                              <label for="addwebsite-name">Name</label>
                              <input type="text" class="form-control" id="addwebsite-name" name="add_name" placeholder="Enter Name of the Website" required>
                              <br/>
                              <label for="addwebsite-input">Link</label>
                              <input type="text" class="form-control" id="addwebsite-input" name="add_link"
                              placeholder="Enter Link" required>                 
                              <div class="modal-footer">
                                <button type="submit" style="padding: 5px 22px; ">Add</button>                    
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                </figure>
                
                <div class="clearfix"></div>
        
              </div>
        </main>

    	<!-- main -->

        <!-- footer -->

        <footer role="footer">

            <!-- logo -->

                <h1>

                    <a href="homepage.html" title="homepage"><img src="{% static "images/guide/logo.png" %}" title="homepage" alt="homepage"/></a>

                </h1>

            <!-- logo -->

            <!-- nav -->

            <nav role="footer-nav">

            	<ul>

                	<li><a href="login.html" title="Work">Chatroom</a></li>

                    <li><a href="homepage.html" title="About">About us</a></li>

                    <li><a href="guide.html" title="Guide">Guide</a></li>

                    <li><a href="contact.html" title="Contact">Contact</a></li>

                </ul>

            </nav>

            <!-- nav -->

            <ul role="social-icons">

            	<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>

                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>

                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>

                <li><a href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>

            </ul>

            <p class="copy-right">&copy; 2023  NIS3368-Group3  All rights Resved</p>

        </footer>

        <!-- footer -->

    

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

        <script src="{% static "js/guide/jquery.min.js" %}" type="text/javascript"></script>

        <!-- custom -->

        <script src="{% static "js/guide/nav.js" %}" type="text/javascript"></script>
        <script src="{% static "js/guide/custom.js" %}" type="text/javascript"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->

        <script src="{% static "js/guide/bootstrap.min.js" %}" type="text/javascript"></script>

        <!-- jquery.countdown -->

        <script src="{% static "js/guide/html5shiv.js" %}" type="text/javascript"></script>
        <script src="{% static "js/guide/index.js" %}" type="text/javascript"></script>

        <script>
            function enter_chatroom(){
                window.location.href = 'login.html';
            }
        </script>

    </body>

</html>